---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <h1>A propos de CookIt-Up</h1>
        <img src="" alt="" />
    </div>

    <p>
        Aujourd’hui, bien manger est un véritable défi pour de nombreux jeunes.
        Entre un emploi du temps chargé, un budget serré et le prix des courses
        qui ne cesse d’augmenter, il devient de plus en plus difficile de
        préparer des repas équilibrés sans se ruiner. Trop souvent, cela se
        traduit par des plats tout prêts, des commandes à emporter ou encore des
        repas sautés, ce qui impacte non seulement la santé, mais aussi la
        concentration et l’énergie au quotidien. Face à cette réalité, nous
        avons décidé d’agir. CookItUp est né d’une idée simple : rendre la
        cuisine accessible à tous, sans stress ni dépenses inutiles. Notre
        mission est de permettre aux étudiants et aux jeunes actifs de mieux se
        nourrir en utilisant au maximum ce qu’ils ont déjà sous la main..
    </p>

    <div>
        <img src="" alt="" />
        <p>
            Notre plateforme, entièrement gratuite, a été conçue pour vous
            accompagner au quotidien. L’idée est simple : entrez les ingrédients
            que vous avez dans votre frigo, et notre intelligence artificielle
            vous propose instantanément des recettes adaptées, savoureuses et
            équilibrées. Fini le casse-tête des repas, fini le gaspillage ! Plus
            besoin de chercher pendant des heures ou d’acheter des ingrédients
            supplémentaires. CookItUp vous aide à transformer le peu que vous
            avez en un plat gourmand et nutritif.
        </p>
        <p>
            Mais CookItUp, c’est bien plus qu’un simple générateur de recettes.
            Nous avons à cœur de construire une véritable communauté, où chacun
            peut partager ses idées, ses astuces et ses propres recettes créées
            à partir de restes. Car bien manger, ce n’est pas seulement une
            question de budget, c’est aussi un mode de vie. Nous voulons vous
            prouver qu’avec un peu de créativité, il est possible de manger
            mieux, de dépenser moins et de réduire le gaspillage alimentaire.
        </p>
    </div>

    <div>
        <p>
            Bien manger, c’est mieux vivre. Avec CookItUp, profitez d’une
            solution simple, gratuite et intuitive pour cuisiner avec ce que
            vous avez déjà. Ouvrez votre frigo, laissez parler votre créativité
            et adoptez une alimentation plus saine et responsable !
        </p>
        <img src="" alt="">
    </div>
</Layout>
