---
import Layout from "../layouts/Layout.astro";
import Avis from "../components/Avis.astro";
---

<Layout>
	<div>
		<h1 class="font-koulen text-4xl">
			Notre but premier vous, faire Economiser
		</h1>
		<img src="" alt="" />
	</div>

	<h2>Simplifie ta Vie Culinaire</h2>

	<div>
		<img src="" alt="" />
		<h3>Un gain de temps pour tous</h3>
		<p>
			Transformez facilement les ingrédients de votre frigo en recettes
			savoureuses. Réduisez le gaspillage alimentaire en utilisant ce que
			vous avez sous la main.
		</p>
	</div>

	<div>
		<img src="" alt="" />
		<h3>Des recettes peut couteuse</h3>
		<p>
			Fini les repas hors de prix ! Cuisinez malin avec des recettes
			simples et économiques. Profitez de réductions exclusives grâce à
			nos partenariats avec des commerces locaux.
		</p>
	</div>

	<div>
		<img src="" alt="" />
		<h3>Un large choix de recette</h3>
		<p>
			Indiquez vos objectifs et suivez vos calories facilement. Obtenez
			des repas équilibrés et adaptés à votre régime alimentaire.
		</p>
	</div>

	<div>
		<img src="" alt="" />
		<h3>Partager vos avis a d’autre</h3>
		<p>
			Partagez vos recettes et découvrez celles des autres étudiants.
			Rejoignez un mouvement pour mieux manger et gaspiller moins.
		</p>
	</div>

	<div>
		<h2>Fais partie de l’aventure, abonne-toi !</h2>
		<div>
			<button>compte gratuit</button>
			<ul>
				<li>Trouvez des recettes avec les ingrédients du frigo.</li>
				<li>Échangez recettes et astuces entre étudiants.</li>
				<li>Liste de courses automatique selon vos besoins.</li>
				<li>Repas variés et ajustables chaque semaine.</li>
				<li>Réutilisez vos restes pour éviter le gaspillage.</li>
				<li>Profitez de réductions chez nos partenaires locaux.</li>
			</ul>
		</div>

		<div>
			<button>pass cookup</button>
			<ul>
				<li>
					Inclut toutes les fonctionnalités de la version gratuite.
				</li>
				<li>Calcul automatique selon ingrédients et quantités.</li>
				<li>Recommandations adaptées à vos objectifs.</li>
				<li>Menu optimisé selon régime et préférences.</li>
				<li>Accédez à des nutritionnistes partenaires.</li>
			</ul>
		</div>
	</div>

	<div>
		<h2>L’IA qui simplifie ta vie</h2>
		<p>
			Notre IA t’accompagne dans ton suivi nutritionnel en créant un
			planning détaillé de tes repas pour la semaine. Elle optimise tes
			ingrédients restants et s’adapte à ton budget, tout en te proposant
			des conseils personnalisés. Plus besoin de te creuser la tête, elle
			planifie pour toi !
		</p>
		<img src="" alt="" />
	</div>

	<h2>Decouvrez nos recettes</h2>

	<div>
		<div>
			<p>Entree</p>
			<img src="" alt="" />
		</div>
		<div>
			<p>Plat</p>
			<img src="" alt="" />
		</div>
		<div>
			<p>Dessert</p>
			<img src="" alt="" />
		</div>
		<div>
			<p>Boisson</p>
			<img src="" alt="" />
		</div>
	</div>
	<div>
		<p>Menu de la semaine</p>
		<img src="" alt="" />
	</div>

	<Avis />
</Layout>
