---
import Layout from "../layouts/Layout.astro";
import Menusemaine from "../components/Menusemaine.astro";
---

<Layout>
    <h1>Menu de la semaine</h1>
    <Menusemaine />
    <Menusemaine />
    <Menusemaine />
    <Menusemaine />
    <Menusemaine />
    <Menusemaine />
    <Menusemaine />
</Layout>